<h1>More Fun <font face='courier'><b>FltQuery</b></font> Stuff</h1>

As always, we start off by making a connection with our credentials

In [1]:
import getpass
import emspy
from emspy import Connection

In [2]:
#-- Original --#
# user_name = input('Enter Username:')
# pwd = getpass.getpass('Enter Password:')
#--------------#

user_name = 'jeffrey.okogbaa'
pwd = 'Footballsd8973!'

In [ ]:
server_url = 'https://oae-api.us.efoqa.com/api'

In [ ]:
#connection without proxy
c = Connection(user=user_name, pwd=pwd, server_url=server_url)

<h1>In this section we are going to look at some of the other methods that can be used with the FltQuery class</h1>

As before, we will need to import the `FltQuery` class and create a `FltQuery` object (which we will call `query`)

In [ ]:
from emspy.query import FltQuery
query = FltQuery(c, 1, 'queryDatabase_flightAdditional.db')

<font face='courier'><b><h2><b>FltQuery.reset</b></h2></font>

The `reset` method clears the query so that you can clean your `query` object and perform another query.
<ul>
    <li>The syntax is simply query.reset()</li>
    <li>This will remove all selected fields, groupings, orderings, and filtering.</li>
</ul>

In [ ]:
query.reset()

---
<font face='courier'><h2><b>FltQuery.disctinct</b></h2></font>
The `distinct` method allows you specify whether or not to return duplicate rows.  distinct defaults to "True" (do not return duplicate rows).<br>
Demonstration: do a Flight query for Tail number first with distinct = True and then distinct = False.

In [ ]:
# Set the database and update fieldtree
query.set_database('FDW Flights') # Set the database as FDW Flights
query.update_fieldtree('Aircraft Information', exclude_tree=['Airframe Information','Data Status', 'Engine Information','Fleet Information'])
query.update_fieldtree('Data Information') # Trying to add the random number field

# Apply filtering and select a field
query.filter("'Random Number [0-1]' <= '0.01'")
query.select('Tail Number')

In [ ]:
# distinct defaults to "True", so we do not have to set it explicitly
df = query.run()
print('Returned rows: ' + str(df.size))

Now let's set `disctinct = False` and see what happens

In [ ]:
# Reset the query, apply filtering and select a field
query.reset()
query.filter("'Random Number [0-1]' <= '0.01'")
query.select('Tail Number')

# Set distinct = False and run the query
query.distinct(False)
df = query.run()
print('Returned rows: ' + str(df.size))

You can see that the call with `distinct = False` returned many more rows.

---
<font face='courier'><h2><b>FltQuery.group_by</b></h2></font>

The `group_by` method allows you to group the data by one or more fields. <br>
Note that all fields that are not being aggregated by will need a aggregation type associated with it. <br>
Demostration: do a Flight query for Aircraft and Tail number, aggregate by Airframe, and count the number of tails in each airframe.

In [ ]:
query.reset() # clearing the query, just in case
query.set_database('FDW Flights')
query.update_fieldtree('Aircraft Information', exclude_tree=['Airframe Information','Data Status', 'Engine Information','Fleet Information'])
query.select('Airframe')
query.select('Tail Number', aggregate='count') #note that we have to aggregate all the fields that we are not grouping by

Add the `group_by` field.

In [ ]:
query.group_by('Airframe')

Run the query and look at the data.

In [ ]:
df = query.run()

In [ ]:
df

---
<font face='courier'><h2><b>FltQuery.order_by</b></h2></font>

The `order_by` method allows you to sort the returned data by one or more fields. <br>
Demostration: do a Flight query for Aircraft and Fleet and sort by Airframe ascending and Fleet descending.

In [ ]:
query.reset() # clearing the query, just in case
query.set_database('FDW Flights')
query.update_fieldtree('Aircraft Information', exclude_tree=['Airframe Information','Data Status', 'Engine Information','Fleet Information'])
query.select('Airframe','Fleet')

Add some sorting.

In [ ]:
query.order_by('Airframe',order='asc')
query.order_by('Fleet',order='desc')

In [ ]:
query.in_json()

Run the query.

In [ ]:
df = query.run()

Print results.

In [ ]:
df

---
<font face='courier'><h2><b>FltQuery.get_top</b></h2></font>

The `get_top` returns only the top N rows of the query.<br>
Demonstration: do a Flight query for Tail number but only return the first 5 tails.

In [ ]:
query.reset() # clearing the query, just in case
query.set_database('FDW Flights')
query.update_fieldtree('Aircraft Information', exclude_tree=['Airframe Information','Data Status', 'Engine Information','Fleet Information'])
query.select('Tail Number')

In [ ]:
query.get_top(5)

Run and print.

In [ ]:
df = query.run()

In [ ]:
df

---
<h2>More Stuff</h2>
    <ul>
        <li>query.get_database(): returns the database the object will query</li>
        <li>query.save_metadata(): saves the metadata loded by the query to the .db file</li>
        <li>query.load_metadata(): load the db metadata from a file</li>
        <li>query.generate_preset_fieldtree:loads some subset of the field tree to the db file that has some basic info. I would not reccomend using this</li>
        <li>query.in_dict(): returns the query info in dictionary format</li>
        <li>query.in_json(): returns the query info in json format</li>
    </ul>
</b>