<h1>Time Series Querying (I)</h1>

Here we are going to import a new class from `emspy.query` called `TSeriesQuery`.

In [6]:
import emspy
from emspy import Connection
from emspy.query import FltQuery
from emspy.query import TSeriesQuery

Import getpass for handling passwords.

In [7]:
import getpass

Set up credentials.

In [12]:
#-- Original --#
# efoqa_user = input('Enter Username:')
# efoqa_pass = getpass.getpass('Enter Password:')
#--------------#

efoqa_user = 'jeffrey.okogbaa'
efoqa_pass = 'Footballsd8973!'

Define a system.

In [13]:
server_url = 'https://oae-api.us.efoqa.com/api'

Create a connection.  Uncomment the connection type that works for you.

In [14]:
#connection without proxy
c = Connection(user=efoqa_user, pwd=efoqa_pass, server_url=server_url)

Define a flight record to use for a later flight query.  

<b>Note:</b> I'm not going to go through the exercise here, but there are obviously ways you can retrieve flight records numbers using `FltQuery` queries.  Then you can pass these flight record numbers into a `TSeriesQuery` query to obtain time series data.

In [15]:
fr = 235488

Create a `TSeriesQuery` object.  Tell it that we want to use the `connection` object called c, and we want to connect to ems24-app.  Save metadata in the file specified by the data_file argument string.

In [16]:
tsq = TSeriesQuery(c, 1, data_file='tsData.db')

<h3>Add Parameters</h3>

Specify the parameters you want to search for.  `tsq.select()` will take as many parameters as you give it.  

<b>Note:</b> emsPy does not do anything with interpolation mode.  That means by default, you get `NaN` in return for values that are between samples.

In [17]:
tsq.select("Pressure Altitude", "airspeed (calibrated; 1 or only)", "ground speed (best avail)")

Searching for params with keyword "Pressure Altitude" from EMS ... done.

C:\Users\MROJKO\Anaconda3\lib\site-packages\emspy\query\tsquery.py:206: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.__analytic._param_table.append(res_df, ignore_index=True, sort=True)

Searching for params with keyword "airspeed (calibrated; 1 or only)" from EMS ... done.
Searching for params with keyword "ground speed (best avail)" from EMS ...

C:\Users\MROJKO\Anaconda3\lib\site-packages\emspy\query\tsquery.py:206: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.__analytic._param_table.append(res_df, ignore_index=True, sort=True)

done.

C:\Users\MROJKO\Anaconda3\lib\site-packages\emspy\query\tsquery.py:206: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.__analytic._param_table.append(res_df, ignore_index=True, sort=True)

Alternate way to select parameters using list unpacking (this does the same thing as the cell above).

<h3>Simple Query</h3>

Run a time series query with the supplied flight record number. 

If start and end timepoints are not specified, this will retrieve the entire flight record.

In [18]:
res_dat = tsq.run(fr)

In [19]:
res_dat.head(10)

,Time (sec),Pressure Altitude (ft),Airspeed (calibrated; 1 or Only) (knots),Ground Speed (best avail) (knots)
0,0.0,80.0,0.0,2.0
1,1.0,80.0,0.0,0.0
2,2.0,80.0,0.0,0.0
3,3.0,80.0,0.0,0.0
4,4.0,79.0,0.0,2.0
5,5.0,80.0,0.0,2.0
6,6.0,80.0,0.0,2.0
7,7.0,80.0,0.0,2.0
8,8.0,80.0,0.0,2.0
9,9.0,80.0,0.0,2.0

<h3>Query with Start and End Specified</h3>

Reset the time series query.  This removes the analytic ID's that were found earlier, as well as the queryset (the JSON text that is sent with the query).

In [20]:
tsq.reset()
tsq.select("Pressure Altitude", "airspeed (calibrated; 1 or only)", "ground speed (best avail)")

In [21]:
res_dat = tsq.run(fr, start=0, end=5)

In [22]:
res_dat

,Time (sec),Pressure Altitude (ft),Airspeed (calibrated; 1 or Only) (knots),Ground Speed (best avail) (knots)
0,0.0,80.0,0.0,2.0
1,1.0,80.0,0.0,0.0
2,2.0,80.0,0.0,0.0
3,3.0,80.0,0.0,0.0
4,4.0,79.0,0.0,2.0
5,5.0,80.0,0.0,2.0

You can see that only samples between `start` and `end` are returned.

In [23]:
tsq.reset()

Same as above, but with a quickly sampled parameter included.

In [24]:
tsq.select("Pressure Altitude", "airspeed (calibrated; 1 or only)", "ground speed (best avail)", "Acceleration (normal load-factor)")

Searching for params with keyword "Acceleration (normal load-factor)" from EMS ... done.

C:\Users\MROJKO\Anaconda3\lib\site-packages\emspy\query\tsquery.py:206: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.__analytic._param_table.append(res_df, ignore_index=True, sort=True)

In [ ]:
res_dat = tsq.run(fr, start=0, end=5)

In [ ]:
res_dat

<b>Side note:</b> here's how to interpolate in a dataframe.  This will probably fail if you have a column of non-numeric data.

In [ ]:
res_dat.interpolate(how='linear', axis=0).head(10)

<h3>Query with Start, End, and Timestep Specified</h3>

In [ ]:
tsq.reset()
tsq.select("Pressure Altitude", "airspeed (calibrated; 1 or only)", "ground speed (best avail)")

In [ ]:
res_dat = tsq.run(fr, start=695, end=696, timestep=0.125)

In [ ]:
res_dat

![timestep](notebook_images/timestep.png)

<h3>Query with Specified Offsets</h3>

In [ ]:
tsq.reset()
tsq.select("Pressure Altitude", "airspeed (calibrated; 1 or only)", "ground speed (best avail)")

In [ ]:
res_dat = tsq.run(fr, timepoint = [0, 0.33, 1/4, 3])

In [ ]:
res_dat

<h3>Replicating Simple EMS Measurements</h3>

Define the beginning and end of cruise (could also be pulled from a <font face='courier'>FltQuery</font>).

In [ ]:
cruise_start = 1449
cruise_end = 6614

Select parameters.

In [ ]:
tsq.reset()
tsq.select("Pressure Altitude", "airspeed (calibrated; 1 or only)", "ground speed (best avail)")

Run query.

In [ ]:
res_dat = tsq.run(fr, start=cruise_start, end=cruise_end)

Calculate basic stats.

In [ ]:
stats = res_dat.describe()
display(stats)

In [ ]:
print('mean pressure alt: ', stats.loc['mean', 'Pressure Altitude (ft)'])
print('min pressure alt: ', stats.loc['min', 'Pressure Altitude (ft)'])
print('max pressure alt: ', stats.loc['max', 'Pressure Altitude (ft)'])

<h1>Plotting</h1>

There are ***a ton*** of plotting libraries in Python. Many plotting libraries in Python are built on top of the Matplotlib interface. 

It is notoriously hard to work with.  I highly recommend researching other visualization libraries on your own.  

1. bokeh
2. seaborn
3. holoviews
4. plotly 
5. dash (made by the same people as plotly) - Python based dashboarding tool

Select parameters and run query.

In [ ]:
tsq.reset()
tsq.select("Pressure Altitude", "airspeed (calibrated; 1 or only)", "ground speed (best avail)")
res_dat = tsq.run(fr)

Simple way: ***use built in pandas plotting methods!!!***

Note: look at the type of the object returned below.

In [ ]:
res_dat.plot.line(x='Time (sec)', y='Pressure Altitude (ft)')

In [ ]:
res_dat.plot.line(x='Time (sec)', y=['Airspeed (calibrated; 1 or Only) (knots)', 'Ground Speed (best avail) (knots)'])

<h1>More Advanced Plotting</h1>

NOTE: bokeh plotting does not currently work in VS Code, but it does show correctly in Jupyter notebook

In [ ]:
from bokeh.plotting import figure, show, ColumnDataSource
from bokeh.io import output_notebook

In [ ]:
output_notebook()

In [ ]:
source = ColumnDataSource(res_dat.interpolate())

p = figure(title = 'Pressure Alt (ft) vs. Time', x_axis_label = 'Time (sec)', plot_width=950, plot_height=400)
p.line('Time (sec)', 'Pressure Altitude (ft)', line_color = 'blue', source = source)
show(p)